body {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-color: #fff;
  color: #000; /* Black text color for body */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  color: #FFD700;
}

/* Festive background colors for Christmas */
.bg-christmas {
  background-color: #d32f2f;
  /* Christmas red */
  color: #fff;
  /* White text color */
  display: flex;
  /* Align children inline */
  justify-content: center;
  /* Center children horizontally */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* subtle shadow */
}

/* Styles for each time section */
.time-section {
  display: inline-block;
  margin: 0 5px;
  /* Space between sections */
  text-align: center;
  /* Center the text */
}

/* Styles for labels below the numbers */
.label {
  font-size: 0.75rem;
  /* Size of the label text */
  text-transform: uppercase;
  /* Uppercase labels for a cleaner look */
}

/* Styles for the Music Player */
.music-player {
  margin-top: 20px;
  /* Space between countdown and player */
}

/* Style for the card generator canvas */
.card-canvas {
  border: 2px solid #777777;
}

.overlay-container {
  position: relative;
 
  margin: auto;
}

.background-div, .middle-div, .foreground-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-div {
  background: url('assets/images/main_xmas_image/rear_image.png') no-repeat center center;
  
  z-index: 1;
}
.middle-div-wrapper {
  height: 80vh;
}
.middle-div {
  z-index: 50;
 
}

.foreground-div {
  background: url('assets/images/main_xmas_image/front_image.png') no-repeat center center;
  z-index: 99;
}

/* Style for Music Player Footer */
.footer {
  background-color: #282828;
  padding: 10px;
}

.playlist {
  background-color: #282828;
  position: fixed;
  bottom: 70px; /* Adjust height of the footer */
  width: 100%;
  padding: 10px;
  display: none; /* Initially hidden */
}

.current-song {
  font-size: 1em;
  margin: 10px 0;
}

.form-range {
  width: 100%; /* Full width for volume and progress bar */
}

/* Centering the player controls */
.player-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Custom playlist toggle styles inspired by https://uiverse.io/vinodjangid07/tame-eagle-29 */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: .3s;
}

.toggle .bars {
  background-color: #fff;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: .3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked + .toggle {
  transform: rotate(-90deg);
}

      
/* _____________________________________________________ */

/* MEDIA QUERIES FOR CARD GENERATOR*/

/* _____________________________________________________ */

@media (max-width: 425px) {
  #card-canvas {
    width: 60%;
    height: auto;
    border: 2px solid #777777;
  }
}

/* _____________________________________________________ */

/* tablet screens */

@media (min-width: 426px) and (max-width: 768px) {
  #card-canvas {
    width: 60%;
    height: 400px;
    border: 2px solid #777777;
  }
}

/* _____________________________________________________ */

/* Laptop screens */

@media (min-width: 769px) and (max-width: 1024px) {
  #card-canvas {
    width: 50%;
    height: 300px;
    border: 2px solid #777777;
  }
}


/* _____________________________________________________ */

/* Large screens */

@media (min-width: 1025px) {
  #card-canvas {
    width: 50%;
    height: auto;
    border: 2px solid #777777;
  }
}
