body {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-color: #fff;
  color: #000; 
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  color: #FFD700;
}

/* Festive background colors for Christmas */
.bg-christmas {
  background-color: #d32f2f;
  /* Christmas red */
  color: #fff;
  /* White text color */
  display: flex;
  /* Align children inline */
  justify-content: center;
  /* Center children horizontally */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* subtle shadow */
}

/* Styles for each time section */
.time-section {
  display: inline-block;
  margin: 0 5px;
  /* Space between sections */
  text-align: center;
  /* Center the text */
}

/* Styles for labels below the numbers */
.label {
  font-size: 0.75rem;
  /* Size of the label text */
  text-transform: uppercase;
  /* Uppercase labels for a cleaner look */
}

/* Styles for the Music Player */
.music-player {
  margin-top: 20px;
  /* Space between countdown and player */
}

/* Style for the card generator canvas */
.card-canvas {
  border: 2px solid #777777;
}

.overlay-container {
  position: relative;
 
  margin: auto;
}


/* Style for Music Player Footer */
.footer {
  background-color: #014421; /* Forest green background */
  padding: 10px;
  color: #fff;
}

/* Playlist modal at the bottom right */
.playlist-modal {
  position: fixed;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 300px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: none; /* Initially hidden */
  z-index: 1001; /* Above other elements */
}


.playlist-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border-radius: 5px;
}

/* Ensure close button is visible */
.close-modal {
  float: right;
  cursor: pointer;
}

/* Style for displaying the currently playing song's title */
.current-song {
  font-size: 1em;
  margin: 10px 0;
}

.form-range {
  width: 100%; /* Full width for volume and progress bar */
}

/* Style for rounded play/pause button */
#play-pause.rounded-circle {
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
}

/* Style for the volume control and mute toggle */
#volume-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0 10px;
}

/* Ensure the volume icon is white for visibility */
.volume-icon {
  color: #fff; /* White color for the volume icon */
}

/* Style for list items in the playlist modal for better visibility */
#playlist-list li {
  color: #000; /* Black color for list items */
  cursor: pointer; /* Indicate the items are clickable */
  padding: 5px 0; /* Some padding for touch targets */
}

/* Style for green buttons with shadow */
#prev-song, #play-pause, #next-song {
  background-color: #014421; /* Forest green background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

/* Centering the player controls */
.player-controls {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
}

/* White color for volume and progress sliders */
.form-range::-webkit-slider-thumb {
  background-color: #fff;
}

.form-range::-moz-range-thumb {
  background-color: #fff;
}

.grid-container {
  position: relative;
  width: 100vw;
  height: 80vh;
}

#rear_image_wrapper {
  background: url('assets/images/rear_image.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

#between-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#front_image_wrapper {
  background: url('assets/images/front_image.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 3;
}

.top-row, .bottom-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10vh, auto);
}

.top3col, .bottom2col {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.top3col1row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



.top1col, .top2col, .top3col1row1col, .top3col1row2col, .bottom1col, .bottom2col1row, .bottom2col2row, .bottom3col {
  width: 100%;
  height: 100%;
}