body {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  color: #FFD700;
}

/* ______________NAVBAR____________________ */
.navbar {
  background-color: #333; /* Cor de fundo da barra de navegação */
  border-bottom: 4px solid #D32F2F; /* Borda inferior para destacar */
}

.navbar .navbar-brand {
  color: #fff;
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  transition: color 0.5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #D32F2F; /* Cor ao passar o mouse e focar */
}

.navbar .navbar-nav .active .nav-link,
.navbar .navbar-nav .nav-link.active {
  color: #D32F2F; /* Cor do link ativo */
  border-bottom: 3px solid #D32F2F; /* Borda inferior para o item ativo */
}

/* Estilos para o botão de alternância da barra de navegação */
.navbar-toggler {
  border-color: #ff6600;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ff6600' ... </svg>"); /* Use o SVG do exemplo ou crie o seu próprio */
}
/* ___________________________________________________________ */

/* Festive background colors for Christmas */
.bg-christmas {
  background-color: #d32f2f;
  /* Christmas red */
  color: #fff;
  /* White text color */
  display: flex;
  /* Align children inline */
  justify-content: center;
  /* Center children horizontally */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* subtle shadow */
}

/* Styles for each time section */
.time-section {
  display: inline-block;
  margin: 0 5px;
  /* Space between sections */
  text-align: center;
  /* Center the text */
}

/* Styles for labels below the numbers */
.label {
  font-size: 0.75rem;
  /* Size of the label text */
  text-transform: uppercase;
  /* Uppercase labels for a cleaner look */
}

/* Styles for the Music Player */
.music-player {
  margin-top: 20px;
  /* Space between countdown and player */
}

/* Style for the card generator canvas */
.card-canvas {
  border: 2px solid #777777;
}

.overlay-container {
  position: relative;

  margin: auto;
}


/* ________________Music Player Footer____________________ */
.footer {
  background-color: #014421;
  /* Forest green background */
  padding: 10px;
  color: #fff;
}

/* Playlist modal at the bottom right */
.playlist-modal {
  position: fixed;
  bottom: 60px;
  /* Adjust as needed */
  right: 0px;
  /* Adjust as needed */
  width: 300px;
  /* Adjust as needed */
  background-color: rgba(211, 47, 47, 0.5);
  color: #fff;
  padding: 15px;
  display: none;
  /* Initially hidden */
  z-index: 1050;
  /* Above other elements */
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.playlist-content {
  background-color: #014421;
  padding: 20px;
  border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

/* Ensure close button is visible */
.close-modal {
  float: right;
  cursor: pointer;
}

/* Style for displaying the currently playing song's title */
.current-song {
  font-size: 1em;
  margin: 10px 0;
}

.form-range {
  width: 100%;
  /* Full width for volume and progress bar */
}

/* Style for rounded play/pause button */
#play-pause.rounded-circle {
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
}

/* Style for the volume control and mute toggle */
#volume-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0 10px;
}

/* Ensure the volume icon is white for visibility */
.volume-icon {
  color: #fff;
  /* White color for the volume icon */
}

/* Style for list items in the playlist modal for better visibility */
#playlist-list li {
  color: #fff;
  /* Black color for list items */
  cursor: pointer;
  /* Indicate the items are clickable */
  padding: 5px 0;
  /* Some padding for touch targets */
}

/* Style for green buttons with shadow */
#prev-song,
#play-pause,
#next-song {
  background-color: #D32F2F;
  /* Forest green background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Shadow effect */
}

/* Centering the player controls */
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* Space between buttons */
}

/* Style for the slider thumbs */
.form-range::-webkit-slider-thumb {
  background-color: #D32F2F; 
}

.form-range::-moz-range-thumb {
  background-color: #D32F2F;
} 

.footer .btn-secondary {
  background-color: #D32F2F; 
  border: none; /* Remove border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow */
}


/* _____________________________________________________ */

/* MEDIA QUERIES FOR CARD GENERATOR*/

/* _____________________________________________________ */

@media (max-width: 425px) {
  #card-canvas {
    width: 60%;
    height: auto;
    border: 2px solid #777777;
  }
}

/* _____________________________________________________ */

/* tablet screens */

@media (min-width: 426px) and (max-width: 768px) {
  #card-canvas {
    width: 60%;
    height: 400px;
    border: 2px solid #777777;
  }
}

/* _____________________________________________________ */

/* Laptop screens */

@media (min-width: 769px) and (max-width: 1024px) {
  #card-canvas {
    width: 50%;
    height: 300px;
    border: 2px solid #777777;
  }
}


/* _____________________________________________________ */

/* Large screens */

@media (min-width: 1025px) {
  #card-canvas {
    width: 50%;
    height: auto;
    border: 2px solid #777777;
  }
}

.grid-container {
  position: relative;
  width: 100vw;
  height: 80vh;
}

#rear_image_wrapper {
  background: url('assets/images/rear_image.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

#between-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#front_image_wrapper {
  background: url('assets/images/front_image.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 3;
}

.top-row,
.bottom-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10vh, auto);
}

.top3col,
.bottom2col {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.top3col1row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top1col,
.top2col,
.top3col1row1col,
.top3col1row2col,
.bottom1col,
.bottom2col1row,
.bottom2col2row,
.bottom3col {
  width: 100%;
  height: 100%;
}

.navbar .navbar-brand {
  position: absolute;
  left: 10rem;
  transform: translateX(-50%);


/* -------------------------------- COUNTDOWN TIMER */
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  flex-wrap: wrap;

  padding: 1em;
  margin: auto;

  background-color: rgba(38, 38, 38, 0.8);
  max-width: 5rem;
  /* border-radius: .5rem; */

  margin-top: 1rem;
}

.countdown-item {
  color: #FDF4E3;
  padding-inline: 1em;
  flex: 1;
  border-bottom: 1px solid rgba(253, 244, 227, 0.3);
  text-shadow: 0px 0px 3px #DAA520;

}

.count-time {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: .5em;
}

/* -------------------------------- END COUNTDOWN TIMER */

/* -------------------------------- HELP PAGE (FAQ) */
.faq-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #0B3D2E;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 12px;
  border: 1px solid #DAA520;
  transition: transform 0.3s ease-in-out;

  z-index: 99;
}

.faq-button:hover {
  transform: scale(1.1);
}

.faq-title {
  font-size: 1.2rem;
  color: #0B3D2E;
  font-weight: 700;
}

.faq-close-btn {
  background-color: #A02C2C;
  color: #FDF4E3;
}

.faq-close-btn:hover {
  background-color: #a44646;
}

.faq-content {
  background: linear-gradient(90deg, rgba(253, 244, 227, .65) 0%, #FDF4E3 50%, rgba(253, 244, 227, .65) 100%);
  font-weight: bold;
  font-size: .9rem;
  padding-inline: 1em;
}

.faq-content {
  background: linear-gradient(90deg, rgba(253, 244, 227, .65) 0%, #FDF4E3 50%, rgba(253, 244, 227, .65) 100%);
  font-weight: bold;
  font-size: .9rem;
  padding-inline: 1em;

}

.faq-body {
  border: 2px solid #A02C2C;
  border-radius: .5rem;
  box-shadow: 0px 1px 5px 1px #c65b5b;
}
/* -------------------------------- END HELP PAGE (FAQ) */
.faq-body {
  border: 2px solid #A02C2C;
  border-radius: .5rem;
  box-shadow: 0px 1px 5px 1px #c65b5b;
}

/* -------------------------------- END HELP PAGE (FAQ) */
