body {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-color: #fff;
  color: #000; /* Black text color for body */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  color: #FFD700;
}

/* Festive background colors for Christmas */
.bg-christmas {
  background-color: #d32f2f;
  /* Christmas red */
  color: #fff;
  /* White text color */
  display: flex;
  /* Align children inline */
  justify-content: center;
  /* Center children horizontally */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* subtle shadow */
}

/* Styles for each time section */
.time-section {
  display: inline-block;
  margin: 0 5px;
  /* Space between sections */
  text-align: center;
  /* Center the text */
}

/* Styles for labels below the numbers */
.label {
  font-size: 0.75rem;
  /* Size of the label text */
  text-transform: uppercase;
  /* Uppercase labels for a cleaner look */
}

/* Styles for the Music Player */
.music-player {
  margin-top: 20px;
  /* Space between countdown and player */
}

/* Style for the card generator canvas */
.card-canvas {
  border: 2px solid #777777;
}

.overlay-container {
  position: relative;
 
  margin: auto;
}


/* Style for Music Player Footer */
.footer {
  background-color: #014421; /* Forest green background */
  padding: 10px;
  color: #fff;
}

/* Playlist modal at the bottom right */
.playlist-modal {
  position: fixed;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 300px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: none; /* Initially hidden */
  z-index: 1001; /* Above other elements */
}


.playlist-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border-radius: 5px;
}

/* Ensure close button is visible */
.close-modal {
  float: right;
  cursor: pointer;
}

/* Style for displaying the currently playing song's title */
.current-song {
  font-size: 1em;
  margin: 10px 0;
}

.form-range {
  width: 100%; /* Full width for volume and progress bar */
}

/* Style for rounded play/pause button */
#play-pause.rounded-circle {
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
}

/* Style for the volume control and mute toggle */
#volume-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0 10px;
}

/* Ensure the volume icon is white for visibility */
.volume-icon {
  color: #fff; /* White color for the volume icon */
}

/* Style for list items in the playlist modal for better visibility */
#playlist-list li {
  color: #000; /* Black color for list items */
  cursor: pointer; /* Indicate the items are clickable */
  padding: 5px 0; /* Some padding for touch targets */
}

/* Style for green buttons with shadow */
#prev-song, #play-pause, #next-song {
  background-color: #014421; /* Forest green background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

/* Centering the player controls */
.player-controls {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
}

/* White color for volume and progress sliders */
.form-range::-webkit-slider-thumb {
  background-color: #fff;
}

.form-range::-moz-range-thumb {
  background-color: #fff;
}



/* _____________________________________________________ */

/* MEDIA QUERIES FOR CARD GENERATOR*/

/* _____________________________________________________ */

@media (max-width: 425px) {
  #card-canvas {
    width: 60%;
    height: auto;
    border: 2px solid #777777;
  }
}

/* _____________________________________________________ */

/* tablet screens */

@media (min-width: 426px) and (max-width: 768px) {
  #card-canvas {
    width: 60%;
    height: 400px;
    border: 2px solid #777777;
  }
}

/* _____________________________________________________ */

/* Laptop screens */

@media (min-width: 769px) and (max-width: 1024px) {
  #card-canvas {
    width: 50%;
    height: 300px;
    border: 2px solid #777777;
  }
}


/* _____________________________________________________ */

/* Large screens */

@media (min-width: 1025px) {
  #card-canvas {
    width: 50%;
    height: auto;
    border: 2px solid #777777;
  }
}







